.App {
  text-align: center;
  background-color: #d8c2c25c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(23, 19, 19);
  font-family: Cambria;
}

.textfield {
  width: 50rem;

}

.textinfo,
.display {
  padding-top: 20px;
}